.StepButtonActive button {
  background-color: #006a9a;
  color: white;
}

.StepButtonPrevious button {
  background-color: whitesmoke;
}

.StepButtonNext button {
  background-color: darkgrey;
}

.stepButton, .ButtonAfterLog {
  width: 120px;
  height: 40px;
  margin-top: 3px;
  border: 2px solid black;
  color: black
}

.ButtonAfterLog {
  background-color: white;
}