.PlaceListItemWell {
  background-image:none;
  background-color: #ABd5f0;
  border: 3px solid black;
  border-radius: 10px;
}

.PlaceListItemWell a {
  text-decoration: none;
}

.PlaceListItemIcon img {
  width:100%;
}

.PlaceListItemIcon p {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.PlaceListItemAllPlaces {
  margin-top: 10px;
}

.PlaceListItemCityName p, .PlaceListItemWeather p {
  margin-bottom: 0;
  text-align: center;
  background-color: #006a9a;
  border-top: solid 2px black;
  color: white;
  font-size: 16px;
  padding: 5px 0 5px;
}

.PlaceListItemCityName p {
  border-left: solid 2px black;
  border-top-left-radius: 5px;
}

.PlaceListItemWeather p {
  border-right: solid 2px black;
  border-top-right-radius: 5px;
}

.PlaceListItemButton {
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 0 5px;
}

.PlaceListItemButtonSelectActive {
  background-image: radial-gradient( #008CD4 0%, #265f8f 100%);
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-bottom-left-radius: 5px;
  color: #fff;
}

.PlaceListItemButtonSelectActive:hover {
  background-image: radial-gradient( #7BFF72 0%, #1E7F17 100%);
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-bottom-left-radius: 5px;
}

.PlaceListItemButtonRemove {
  background-image: radial-gradient( #008CD4 0%, #003854 100%);
  color: white;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-bottom-left-radius: 5px;
}

.PlaceListItemButtonRemove:hover {
  background-image: radial-gradient( #A04E4E 0%, #ED2C2C 100%);
  background-color: red;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-bottom-left-radius: 5px;
}

.PlaceListItemButtonSelectDisabled {
  background-image: radial-gradient( #80C6ED 0%, #8797A0 100%);
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-bottom-left-radius: 5px;
  margin-bottom: 0;
  color:white;
}

.PlaceListItemButtonSelectDetails {
  background-image: radial-gradient( #008CD4 0%, #265f8f 100%);
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-bottom-right-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
}

.PlaceListItemButtonSelectDetails:hover {
  background-image: radial-gradient( #7BFF72 0%, #1E7F17 100%);
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-bottom-right-radius: 5px;
}

.PlaceListItemResetPadding {
  padding-left: 0;
  padding-right: 0;
}

.PlaceListItemAllPlaces {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .PlaceListItemCityName p {
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .PlaceListItemWeather p {
    border-right: none;
    border-top-right-radius: 0;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }

  .PlaceListItemButtonSelectActive, .PlaceListItemButtonRemove, .PlaceListItemButtonSelectDisabled  {
    border-top: solid 2px black;
    border-left: none;
    border-bottom-left-radius: 0;
  }

  .PlaceListItemButtonSelectActive:hover, .PlaceListItemButtonRemove:hover {
    border-left: none;
    border-bottom-left-radius: 0;
  }

  .PlaceListItemButtonSelectDetails, .PlaceListItemButtonSelectDetails:hover  {
    border-top: solid 2px black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  }