
.place-details {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.place-details .actual-weather {
    color: rgba(0, 123, 180, 1);
    margin: 5px auto;
}

.place-details .actual-weather h1{
    font-size: 2em;
}

.place-details .actual-weather .main-weather{
    font-size: 6em;
}

.place-details .actual-weather .secondary-weather span {
    font-size: 1.5em;
}

.place-details .actual-weather .secondary-weather icon {
     font-size: 3em;
 }

.place-details .weather-forecast p icon{
    font-size: 1em;
}

.place-details .weather-forecast p{
    font-size: 1.5em;
    padding: 5px;
}

.place-details .weather-forecast .date{
    border-top: 1px solid #fff;
}

.place-details .weather-forecast .singleItem{
    color: rgba(0, 123, 180, 1);
    margin: 5px auto;
    box-shadow: 24px 0px 3px -24px rgba(0, 123, 180, 1);
    border-bottom: 0;
}

.place-details .weather-forecast .singleItem:nth-child(6n){
    box-shadow: none;
}



.place-details .weather-forecast icon{
    padding-top: 20px;
    font-size: 2em;
}