.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 5;
  background-color: #0b97c4;
  height: 50px;
}

.NavigationLogo img {
  margin-top: 3px;
  height: 40px;
}

.navigation {
display: inline-flex;
  height: 50px;
}

.navigation a::after {
  position: relative;
  top: -40px;
  left:100%;
  content: ' ';
  display: block;
  height: 40px;
  width: 20px;
  border-left: 20px solid black;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  box-sizing: border-box;
}